@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root{
    --orange:hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --white:hsla(0, 0%, 100%, 0.75);
    --light-gray:hsl(0, 0%, 95%);
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    font-size: 15px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60em;
    height: 90em;
}

.col-1{
    background-color: var(--orange);
    padding: 3em;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.col-2{
    background-color: var(--cyan);
    padding: 3em;
}

.col-3{
    background-color: var(--dark-cyan);
    padding: 3em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

img{
    padding-bottom: 1em;
}

.b-1{
    color: var(--orange);
    font-weight: 700;
}

.b-2{
    color: var(--cyan);
}

.b-3{
    color: var(--dark-cyan);
}

.b{
    background-color: var(--light-gray);
    border: none;
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 2em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-top: 4em;
    width: 60%;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--white);
    line-height: 2;
}

h1{
    color: var(--light-gray);
    font-family: 'Big Shoulders Display';
    font-weight: 700;
}

@media screen and (max-width:910px){
    .container{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .col-1{
        border-top-right-radius: .5em;
        border-top-left-radius: .5em;
        border-bottom-left-radius: 0em;
    }

    .col-3{
        border-bottom-right-radius: .5em;
        border-bottom-left-radius: .5em;
        border-top-right-radius: 0em;
    }

    body{
        padding: 1em 0em 1em 0em;
        height: 30%;
    }

    .b{
        margin: 0;
    }

    img{
        padding: 0;
    }
}